
.containerBody1{

    
   
    background-position: center;
    background-size: cover;
    background-repeat: 'no-repeat';
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;


}

.containerBody2{

    
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;


}




.textheader{

    
  color: white;
  font-size: 15px;
font-family: "Gotham-Medium","Helvetica Neue","sans-serif";
letter-spacing: .28em;
}



.textheader1{

    
    color: white;
    font-size: 18px;
  font-family: "Gotham-Medium","Helvetica Neue","sans-serif";
  letter-spacing: .28em;
  }
  
  


.textcolor{
font-size: 45px;
margin-bottom: 20px;
letter-spacing: -1px;
font-family: "Gotham-Bold","Helvetica Neue",sans-serif;


background-color: red;


}


